.drie,
.zes{
display: flex;
align-items: center;
padding-top: 1.5rem;
flex-direction: column;
gap: 2rem;
color: #707070;
}
.drie{
    gap: 3rem;
}
.EnergieVerbruik{

    height: 2rem;
    border-radius: .5rem;
    display: flex;
}
.apparaatKleur1{
height: 2rem;
width: calc();
}
.EnergieVerbruikApparaten{
    height: 2rem;
    display: flex;
    gap: 2.4rem;
}

.apparaatKleur{
width: 2rem;
height: 2rem;
background: blue;
border-radius: .5rem;
}

.apparaatIcons{
    display: flex;
    gap: 1.8rem;
}


.kw{
display: flex;
flex-direction: column;
gap: 1rem;
align-items: center;
justify-content: center;
width: 15rem;
}

.kwtwee{
    display: flex;
    width: 10rem;
    justify-content: space-between;
}

.Binnentemperatuur{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Binnentemperatuur > div{
    display: flex;
    align-items: center;
    gap: 2rem;
}