* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

body{
    background: #B6DFE1;

}

.logo{
    width: 12rem;
    height: 4rem;
}
.navbar{
    width: 100vw;
    height: 10vh;
    background: #B6DFE1;
}
.mainScreen{
    background: #FFFFFF;
    box-shadow: 0 0 99px 0 #AA9C9C;
    width: 100vw;
    min-height: 90vh;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    
}

.tegels{
    background: black;
    opacity: .3;
    width: 25rem;
    height: 25rem;
    flex-shrink: 0;
    border-radius: 2rem;
}
.lang{
    height: 35rem;
    width: 15rem;
}

.drie{
    height: 16.5rem;
}
.tweede{
    height: 16.5rem;
    margin-bottom: 2rem;
}

.vijf,
.vier{
    width: 15rem;
    height: 16.5rem;
}

.zes{
    height: 16.5rem;
    width: 32rem;
}
.derdeRij{
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
}

.vierdeRij{

    flex-wrap: wrap;
}