* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

body{
    background: #B6DFE1;

}

.logo{
    width: 6rem;
    height: 2rem;
}
.date{
    color: #FFFFFF;
    display: flex;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.tijd{
    font-size: 1.5rem;
}
.datem{
    font-size: 1rem;
}
.header{
    background: #B6DFE1;
    display: flex;
    height: 12.5vh;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.mainScreen{
    background: #FFFFFF;
    box-shadow: 0 0 30px 0 #AA9C9C;
    width: 100vw;
    min-height: 87.5vh;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    
}

.tegels{
    background: #F8F8F8;
    box-shadow: 0 0 2px 0 #AA9C9C;
    width: 25rem;
    height: 25rem;
    flex-shrink: 0;
    border-radius: 2rem;
    transition: .3s;
}
.lang{
    height: 35rem;
    width: 15rem;
}
.lang:hover{
    height: 37rem;
    width: 17rem;
}
.drie{
    height: 16.5rem;
    width: 25rem;
}
.tweede:hover,
.drie:hover{
    height: 18.5rem;
    width: 27rem;
}
.tweede{
    height: 16.5rem;
    width: 25rem;
    margin-bottom: 2rem;
}

.vijf,
.vier{
    width: 15rem;
    height: 16.5rem;
    flex-shrink: 0;
}
.vier{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.vijf:hover,
.vier:hover{
    width: 17rem;
    height: 18.5rem;
}
.zes{
    height: 16.5rem;
    width: 32rem;
}
.zes:hover{
    height: 18.5rem;
    width: 34rem;
}
.derdeRij{
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

.vierdeRij{
    
    flex-wrap: wrap;
}

@media screen and (max-width:515px){
    .tegels{
        flex-shrink: 1;
    }
}


.opkomst{
    width: 10rem;
    height: 3rem;
    background: red;
}
.ondergang{
    width: 10rem;
    height: 3rem;
    background: black;
}